//Colors
$atlassian-blue: #005085;
$h4-blue: #205081;
$grey: #707070;

//Fonts
$font-size-large: 2rem;
$font-size-tabs: 14px;
$font-size-h4: 20px;
$font-family: "Helvetica Neue",Helvetica,arial,sans-serif;