//Globals
@import 'global';

//Components
@import 'components/vertical-list';
@import 'components/tabs';

.row{	
	&.nav{
		background-color: $atlassian-blue;
		height: 48px;
		margin-bottom:48px;
	}
	&.page-header-logo, &.page-header{
		text-align:center;
	}
	h3{
		font-family: $font-family;
		font-weight: 300;
		color: $grey;
		font-size: $font-size-large;
	}
	&.body{
		max-width:960px;
		margin-left:auto;
		margin-right: auto;
	}
}

//Shared
@import 'shared/session-detail';