doctype
html
	head
		link(rel="stylesheet" href="stylesheets/bootstrap.css")
		link(rel="stylesheet" href="stylesheets/main.css")
		script(type="text/javascript" src="javascripts/bundle.js" charset="utf-8")
	body