@import '../global';

.tab-component{
	ul.tabs{
		list-style-type: none;
		padding:0px;
		border-bottom: 1px solid #ccc;

		li{
			font-size: $font-size-tabs;
			float:left;
			margin-bottom:-1px;


			&:first-child{
				a{
					border-radius: 6px 0 0;
				}
			}

			&:last-child{
				a{
					border-radius: 0 6px 0 0;
					border-right: 1px solid #ccc;
				}
			}


			a{
				&:hover,&:focus{
					background: #e9e9e9;
					text-decoration: none;
			}

			background: #f5f5f5;
    		border-top: 1px solid #ccc;
    		border-left: 1px solid #ccc;
    		color: #333;
			display: block;
    		font-weight: 400;
    		padding: 10px 20px;
    		border-bottom: 1px solid #ccc;
			}

			&.current{
				a{
				color: #707070;
    			background: #fff;
    			border-bottom: 1px solid #fff;
				}
			}
		}	
	}

	@media screen and (max-width: 990px){
		ul.tabs{
			overflow: hidden; 
    	border: 1px solid #ccc;
			border-bottom: none;
			border-right: none;
    	
    	li{
    	  width: 25%;
    		border: none;
    		margin-bottom: 0;
    		a{	
    			&:last-child, &:first-child, &{
				    border: none;
				    border-bottom: 1px solid #ccc;
				    border-right: 1px solid #ccc;
				    border-radius: 0;
    			}
			    border-top: 1px solid #ccc;
			    border-left: 1px solid #ccc;
    		}
    	}
		}
	}
	@media screen and (max-width: 560px){
			ul.tabs{
				li{
					width: 50%;
				}
			}
	}

}