@import '../global';

.vertical-list-component{
	h4{
		color: $h4-blue;
		font-size: $font-size-h4;
		font-weight: 400;
		margin-bottom: 14px;
	}

	ul.items{
		margin-top:0px;
		overflow: hidden;
		padding: 0px; 
		list-style-type: none;
		
		li:first-child{
			a{
				border-top: 1px solid #ccc;
			}
		}


		li{
			a{
				padding: 10px;
				display:block;
				border-bottom: 1px solid #ccc;
				color: #205081;
				span{
					font-weight: 500;
				}
				cite{
					font-style: normal;
			    font-weight: 400;
			    display: block;
			    font-size: 12px;
			    color: #707070;
			    margin-bottom: 0;
			    line-height: 20px;
			    p{
			    	margin: 2px 0px 0px 0px;
			    }
				}	
			}

			a{
				&:hover,&:focus{
					background: #f5f5f5;
					text-decoration: none;
				}
			}


			&.current{
				a{
					background: #f5f5f5;
				}
			}

		}


	}
}
