.session-detail-view{
	h2
	{
	    font-family: LLCircularWeb-Bold,"Helvetica Neue",Helvetica,arial,sans-serif;
	    font-size: 38px;
    	margin-bottom: 20px;
    	color: #205081;
	}
	h3{
		color: #205081;
		font-size: 28px;
    	font-weight: 300;
    	margin-bottom: 17px;
	}
	cite{
		color: #205081;
	    font-weight: 500;
	    margin-bottom: 20px;
	    p{
	    	font-size: 14px;
	    	font-style: normal;
	    }
	}
	p{
		font-size: 14px;
	}
}